* {
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

body {
    background-color: #282828;
    color: #e1e1e1;
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
}

main {
    padding-top: 80px;
    margin: 20px;
}

#kppic {
    border-radius: 50%;
}

#personal-email {
    text-decoration: underline;
    color: #f2c95a;
}

.section-underline {
    width: 100px;
    height: 2px;
    margin-top: 10px;
    background-color: #f2c95a;
}

a {
    text-decoration: none;
    color: #e1e1e1;
}

#credential-links a, .project-skills{
    color: #f2c95a;
}

/* NavBar Header */

nav {
    background-color: #161616;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 999;
}

nav a div {
    height: 70px;
    width: 70px;
    background-color: #282828;
    margin-right: 15px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
}

header img {
    margin-top: 40px;
}

/* About */

#info-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 10px;
    padding: 15px 20px;
    background-color:#3e3e3e;
    border-radius: 5px;
}

#info-card span {
    margin: 5px;
}

#info-card i {
    margin-right: 10px;
}

#info-name {
    font-weight: 900;
}

#info-title {
    font-style: italic;
}

#info-title i{
    margin-right: 8px;
}

.credential-container {
    width: 100%;
    background-color:#3e3e3e;
    margin: 15px 0 0 0;
    padding: 15px;
    text-align: center;
    font-weight: bold;
}

/* Skills */

#skills-flex {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#skills-flex span {
    border: 1px solid #f2c95a;
    border-radius: 30px;
    padding: 8px;
}

#knowledgeSkills, #experience {
    padding-top: 50px;
}

/* Projects */

.project-section img{
    width: 100%;
    height: 200px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#projects-div {
    margin-top: 20px;
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-github:hover {
    color: #f2c95a;
}

.projectContent {
    margin-bottom: 40px;
    padding-bottom: 20px;
    background-color: #404040;
    border-radius: 5px;
}


.project-header, .projectContent p, .project-skills {
    padding: 0 10px;
}

.project-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.project-skills span {
    background-color: #303030;
    border-radius: 22px;
    padding: 10px;
    margin: 5px 2px 0 0;
}

/* Contact */

footer input {
    margin: 0 0 10px 0;
}

#email, #message {
    width: 100%;
}

#message {
    height: 100px;
}

#contact-submit {
    background-color:#282828;
    color: #f2c95a;
    border: none;
    text-align: center;
}

#contact-submit:hover {
    color: white;
    cursor: pointer;
}



